/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/image
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
composer.lock
package-lock.json
/storage
/log
/public
